/* CSS AMERICANAS 
#topo {
    background: red;
}

#produto-promocao {
    background: lightgray;
}

.destaque {
    background-color: crimson;
}
*/

#topo {
    background: yellow;
}

#rodape {
    border: 5px solid lightgray;
}

.curso {
    background: gray;
}

.curso-destaque {
    background: orange;
}